extends layout

block head
    script(type='text/javascript', src='jquery/dist/jquery.min.js')
    script(type='text/javascript', src='http://192.168.2.237:8080/socket.io/socket.io.js')
    script(type='text/javascript', src='accelerator_client.js')

block content
    h1= title
    p#status Waiting
    button#reset Reset
