extends layout

block head
    script(type='text/javascript', src='jquery/dist/jquery.min.js')
    //script(type='text/javascript', src='http://192.168.2.237:8080/socket.io/socket.io.js')
    script(type='text/javascript', src='http://code.highcharts.com/stock/highstock.js')
    script(type='text/javascript', src='http://code.highcharts.com/stock/modules/exporting.js')
    script(type='text/javascript', src='renderer_client.js')

    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap-theme.min.css')

block content
    .container
        .row
            .col-md-12.text-center
                h1 Interactive activity detector

        .row
            .col-md-12.text-center
                button.btn.btn-primary#refresh Pause

        .row
            .col-md-12
                #accel_data_chart(style="height: 400px; min-width: 310px")

        .row
            .col-md-12.text-center
                h1 Autocorrelation

        .row
            .col-md-4
                #autocorrelation_x_chart(style="height: 400px; min-width: 310px")

            .col-md-4
                #autocorrelation_y_chart(style="height: 400px; min-width: 310px")

            .col-md-4
                #autocorrelation_z_chart(style="height: 400px; min-width: 310px")

        .row
            .col-md-12.text-center
                h1 Filtration

        .row
            .col-md-4
                #filtered_x_chart(style="height: 400px; min-width: 310px")

            .col-md-4
                #filtered_y_chart(style="height: 400px; min-width: 310px")

            .col-md-4
                #filtered_z_chart(style="height: 400px; min-width: 310px")
